@page "/cameras/update/{Id:int}"
@attribute [Authorize(Roles = Roles.Administartor)]

<h3>Edit Camera</h3>

<EditForm Model="_camera" OnValidSubmit="HandleUpdateCamera">
    <DataAnnotationsValidator/>
    <ValidationSummary/>
    <div class="form-group">
        <label>Camera Name</label>
        <InputText class="form-control" @bind-Value="_camera.Name"></InputText>
        <ValidationMessage For="@(() => _camera.Name)"></ValidationMessage>
    </div>
    <div class="form-group">
        <label>Login</label>
        <InputText class="form-control" @bind-Value="_camera.Login"></InputText>
        <ValidationMessage For="@(() => _camera.Login)"></ValidationMessage>
    </div>
    <div class="form-group">
        <label>Password</label>
        <InputText class="form-control" @bind-Value="_camera.Password"></InputText>
        <ValidationMessage For="@(() => _camera.Password)"></ValidationMessage>
    </div>
    <div class="form-group">
        <label>Ip Address</label>
        <InputText class="form-control" @bind-Value="_camera.IpAddress"></InputText>
        <ValidationMessage For="@(() => _camera.IpAddress)"></ValidationMessage>
    </div>
    <button type="submit" class="btn btn-primary"><span class="oi oi-pencil"></span>Apply</button>
    <button @onclick="BackToList" class="btn btn-outline-secondary"><span class="oi oi-media-skip-backward"></span>Back To List</button>
</EditForm>